<style>
    li ion-icon {
        margin-bottom: -2px;
        margin-right: 8px;
        font-size: 16px;
    }
</style>
<!-- Logo at the top left corner -->
<nav class="left-navigation">
    <div class="container mt-3 mb-3">
        <a href="/admin/dashboard">
            <img src="/images/Logowithname.png" alt="Logo" class="img-fluid logo">
        </a>
    </div>
    <div class="btnContainer">
        <a type="button" class="btn btn-primary" href="/admin/schools/add"><ion-icon name="add-outline"></ion-icon>Add a School</a>
    </div>
    <ul>
        <li class="<%= activeMenu === 'user' ? 'active' : '' %>"><a href="/admin/users"><ion-icon name="people-outline"></ion-icon>Users</a></li>
        <li class="<%= activeMenu === 'company' ? 'active' : '' %>"><a href="/admin/companies"><ion-icon name="business-outline"></ion-icon>Companies</a></li>
        <li class="<%= activeMenu === 'school' ? 'active' : '' %>"><a href="/admin/schools"><ion-icon name="school-outline"></ion-icon>Schools</a></li>
        <li><a href="/logout"><ion-icon name="log-out-outline"></ion-icon>Logout</a></li>
    </ul>    
</nav>
