<!-- Logo at the top left corner -->
<nav class="left-navigation">
    <div class="container mt-3 mb-3">
        <img src="/images/Logowithname.png" alt="Logo" class="img-fluid logo">
    </div>
    <div class="btnContainer">
        <button type="button" class="btn btn-primary"><ion-icon name="add-circle-outline"></ion-icon>Post a job</button>
    </div>
    <ul>        
        <li><a href="/company/profile">Profile</a></li>
        <li><a href="/company/jobs">Jobs</a></li>
        <li><a href="/company/events">Events</a></li>
    </ul>
</nav>
