<!-- Logo at the top left corner -->
<nav class="left-navigation">
    <div class="container mt-3 mb-3">
        <a href="/company/dashboard">
            <img src="/images/Logowithname.png" alt="Logo" class="img-fluid logo">
        </a>
    </div>
    <div class="btnContainer">
        <a type="button" class="btn btn-primary" href="/company/addJob"><ion-icon name="add-outline"></ion-icon>Post a Job</a>
    </div>
    <ul>         
        <li><a href="/company/company/edit/64d19c5b99241bc3544aaece">Profile</a></li>
        <li><a href="/company/jobs">Jobs</a></li>
        <li><a href="/company/events">Events</a></li>
    </ul>
</nav>
