<!DOCTYPE html>
<html>
<head>
    <title>Create Event</title>
    <!-- Add your CSS links here -->    
    <%- include('../partials/css') %>
</head>
<body>
    <!-- Include the left navigation -->
    <%- include('../partials/companyLeftNavigation') %>
    <div class="right-content">
        <h1>Add a New Event</h1>
        <form action="/company/saveEvent" method="POST" class="col-lg-7">
            <div class="form-group">
                <label for="eventName">Name*:</label>
                <input type="text" id="name" name="name" required class="form-control">
            </div>
            <div class="form-group">
                <label for="startDateTime">Start Date/Time*:</label>
                <input type="datetime-local" id="startDateTime" name="start" required class="form-control">
            </div>
            <div class="form-group">
                <label for="endDateTime">End Date/Time*:</label>
                <input type="datetime-local" id="endDateTime" name="end" required class="form-control">
            </div>
            <div class="form-group">
                <label for="eventDescription">Description:</label>
                <textarea id="description" name="description" class="form-control" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label for="linksLocation">Links/Location:</label>
                <input type="text" id="linkOrLocation" name="linkOrLocation" class="form-control">
            </div>
            <div class="form-group">
                <label for="eventComments">Comments:</label>
                <textarea id="comments" name="comments" class="form-control" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label for="eventType">Type*:</label>
                <select id="type" name="type" required class="form-control">
                    <option value="hackathon">hackathon</option>
                    <option value="in-person">in-person</option>        
                    <option value="live">live</option>
                    <option value="webinar">webinar</option>        
                    <!-- Add more event types if needed -->
                </select>
            </div>
            <div class="button-container">
                <a type="button" class="btn btn-secondary" href="events">Cancel</a>
                <button type="submit" class="btn btn-primary">Create Event</button>        
            </div>
        </form>
    </div>
    <!-- Add your JS scripts here -->
    <%- include('../partials/javascript') %>
</body>
</html>
