<!DOCTYPE html>
<html>
<head>
    <title>Add Job</title>
    <!-- Add your CSS links here -->    
    <%- include('../partials/css') %>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <!-- Include the left navigation -->
    <%- include('../partials/companyLeftNavigation') %>
    <div class="right-content">
        <h1>Add a New Job</h1>
        <form action="/company/saveJob" method="POST" id="frmAddJob" class="col-lg-7">
            <div class="form-group">
                <label for="jobTitle">Job Title*:</label>
                <input type="text" id="jobTitle" name="jobTitle" required class="form-control">
            </div>
            <!--<div>
                <label for="postedDate">Posting Date*:</label>
                <input type="datetime-local" id="postedDate" name="postedDate" required>
            </div>-->
            <div class="form-group">
                <label>Compensation:</label>
                <div style="display: flex;">
                    <input type="radio" name="compensationType" id="unpaid" value="unpaid" checked>
                    <label for="unpaid">&nbsp;Unpaid</label>
                </div>
                <div style="display: flex;">
                    <input type="radio" name="compensationType" id="paid" value="paid">
                    <label for="paid">&nbsp;Paid</label>
                </div>
                <div id="compensationDetails" style="display: none;">
                    <div style="display: flex;">
                        <input type="radio" name="rateType" id="hourly" value="hourly" checked>
                        <label for="hourly" class="mt-2" style="width: unset;">&nbsp;Hourly:&nbsp;</label>
                        <input type="text" id="hourlyRate" name="hourlyRate" value="0" placeholder="$ per hour" style="width: unset;">
                    </div>
                    <div style="display: flex;">
                        <input type="radio" name="rateType" id="annual" value="annual">
                        <label for="annual" class="mt-2" style="width: unset;">&nbsp;Annually:&nbsp;</label>
                        <input type="text" id="annualRate" name="annualRate" placeholder="$ per year" style="width: unset;">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="workSetup">Work Setup*:</label>
                <select id="workSetup" name="workSetup" class="form-control">
                    <option value="Hybrid">Hybrid</option>
                    <option value="Remote">Remote</option>
                    <option value="In-Office">In-Office</option>
                </select>
            </div>
            <div class="form-group">
                <label for="jobLocation">Job Location*:</label>
                <input type="text" id="jobLocation" name="jobLocation" required class="form-control">
            </div>
            <div class="form-group">
                <label for="jobDescription">Job Description*:</label>
                <textarea id="jobDescription" name="jobDescription" rows="15" required class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="skills">Skills (comma-separated):</label>
                <input type="text" id="skills" name="skills" class="form-control">
            </div> 
            <div class="form-group">
                <span>Plan:</span>
                <div>
                    <input type="radio" name="plan" id="plan1" value="5" checked="checked">
                    <span for="plan1">$5 per day</span>
                </div>
                <div>
                    <input type="radio" name="plan" id="plan2" value="10">
                    <span for="plan2">$10 per day (your post will appear on top of the search results)</span>
                </div>
            </div>
            <div class="border p-3 pt-0 form-group">
                <label for="card-element">Credit or Debit Card</label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>
                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>
            <input type="hidden" id="stripeToken" name="stripeToken">
            <div class="button-container">
                <a type="button" class="btn btn-secondary" href="jobs">Cancel</a>
                <button type="submit" class="btn btn-primary">Create Job</button>        
            </div>
        </form>
    </div>

    <script>
        var stripe = Stripe('pk_test_mTxUvfPIEY1NmqYYxWXXcj0900NuCD976L'); // Replace with your key
        var elements = stripe.elements();
        var form = document.getElementById('frmAddJob');
        var card = elements.create('card');
        card.mount('#card-element'); // You'll need a corresponding div with this id

        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Handle error (e.g., show the error message to the user)
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Insert the token into the hidden input
                    document.getElementById('stripeToken').value = result.token.id;
                    
                    // Now submit the form
                    form.submit();
                }
            });
        });

        // Use JavaScript to toggle the display of compensation details based on the selected compensation type
        document.getElementById('paid').addEventListener('change', function() {
            document.getElementById('compensationDetails').style.display = 'block';
        });

        document.getElementById('unpaid').addEventListener('change', function() {
            document.getElementById('compensationDetails').style.display = 'none';
        });
    </script>
    <%- include('../partials/javascript') %>
</body>
</html>
