<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <!-- Add your CSS links here -->    
    <%- include('../partials/css') %>
</head>

<body>
    <!-- Include the left navigation -->
    <%- include('../partials/companyLeftNavigation') %>

    <div class="right-content">
        This is the company dashboard
    </div>

    <!-- Add your JS scripts here -->
    <%- include('../partials/javascript') %>
</body>

</html>
