<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New School</title>
    <%- include('../partials/css') %>
</head>
<body>
    <!-- Include the left navigation -->
    <%- include('../partials/adminNavbar') %>
    
    <div class="container mt-4">
        <div class="container mt-3 mb-3">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <a href="/admin/dashboard">
                        <img src="/images/Logowithname.png" alt="Logo" class="img-fluid logo">
                    </a>
                </div>
                <div class="col-auto text-right">
                    <span class="blockquote" style="font-size: 14px;margin-right: 10px; padding-right:10px; border-right: 1px solid grey;"><%= email%></span>
                    <a href="/" class="blockquote text-decoration-none text-secondary" style="font-size: 14px;">Logout</a>
                </div>
            </div>
            <div class="row justify-content-between align-items-center" style="margin-top: 100px;">
                <div class="col-auto">
                    <h1>Add a School</h1>
                </div>
                <div class="col-auto text-right">
                </div>
            </div>
        </div>
        
        <!-- Form to Add a New School -->
        <form action="/admin/schools/add" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">School Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="domain" class="form-label">School Domain</label>
                <input type="text" class="form-control" id="domain" name="domain" required>
            </div>
            <div class="mb-3">
                <label for="contact" class="form-label">School Email</label>
                <input type="email" class="form-control" id="contact" name="contact" required>
            </div>
            <button type="submit" class="btn btn-primary">Add School</button>
        </form>
    </div>
    
    <%- include('../partials/javascript') %>
</body>
</html>
