<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Login</h1>
  <img src="/images/Logowithoutname.png" alt="Logo">
  <form action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="remember-me">Remember Me:</label>
    <input type="checkbox" id="remember-me" name="remember-me">
    <button type="submit">Login</button>
  </form>
  <a href="/signup">Sign Up</a>
</body>
</html>
