<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="userType">User Type:</label>
    <input type="text" id="userType" name="userType" required>
    <button type="submit">Sign Up</button>
  </form>
  <a href="/login">Login</a>
</body>
</html>
